body {
    background-color: rgb(95, 138, 230);
}

.box-background {
    background-color: rgb(82, 95, 214);
    padding: 10px;
}

.content-background {
    background-color: rgb(15, 110, 218);
}

.heading {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.heading h1 {
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    height: 50px;
    width: auto;
}

.title-image {
    height: 75px;
    width: auto;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 6px;
    margin-top: 1rem;
    gap: 8rem;
    background-color: rgb(15, 110, 218);
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navigation li {
    font-size: 150%;
}

.main-text {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.main-text h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}

.main-text p {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1rem;
}

.welcome-text {
    flex: 2;
}

.image-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
}

.image-sidebar a {
    display: block;
}

.image-sidebar img {
    width: 100%;
    display: block;
}

.footer-text {
    display: block;
    gap: 2rem;
    margin-top: 2rem;
}

.footer-text p {
    font-style: italic;
    font-size: 90%;
}