body {
    background-color: rgb(150, 150, 151);
    margin: 0 4px;
}

.box-background {
    background-color: rgb(68, 190, 68);
    padding: 10px 10px 0.1px 10px;
}

.content-background {
    background-color: rgb(73, 218, 15);
}

.heading {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.heading h1 {
    font-family: 'Cinzel Decorative';
    text-transform: uppercase;
    font-size: 250%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
    height: 50px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    flex: 0 1 auto;
}

.heading img {
    height: 75px;
    width: auto;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    gap: 5rem;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navigation li {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 150%;
}

.main-text {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.main-text h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Cinzel Decorative';
    word-break: break-all;
}

.main-text p {
    font-size: larger;
    font-family: 'Roboto Condensed';
    padding-left: 1rem;
}

.welcome-text {
    flex: 2;
}

.image-sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 250px;
    margin: 0;
}

.image-sidebar a {
    display: block;
}

.image-sidebar img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.footer-text {
    display: block;
    gap: 2rem;
    margin-top: 1rem;
}

.footer-text p {
    font-family: 'Roboto Condensed';
}

aside.content-background {
    padding: 0.5rem;
}

aside.content-background h2 {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
    word-break: break-all;
    white-space: pre-line;
    display: block;
}

aside.content-background h2 {
    text-align: center;
}
aside.content-background h2 span {
    display: block;
}